html,
.body,
.container {
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
}

.button1,
.button2,
.button3 {
    border-radius: 20%;
    margin: 3px;
    padding: 9px;
}

.bu4,
.bu5,
.bu6 {
    border-radius: 20%;
    margin: 3px;
    padding: 9px;
}

.bu7,
.bu9 {
    border-radius: 20%;
    padding: 4.5px;
    margin: 3px;
}

.bu8 {
    border-radius: 20%;
    padding: 6px;
    margin: 3px;
}

.bu0,
.but1,
.but2 {
    border-radius: 20%;
    padding: 8px;
    margin: 3px;
    height: 80px;
    width: 50px;
}

.top {
    text-align: center;
    justify-content: center;
}